@page
@model RecruitCatSapravl.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of the Company</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PositionRecruiting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PositionRecruiting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinimumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinimumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaximumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaximumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PerformanceBonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PerformanceBonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.JobTitle.Title)
        </dd>
    </dl>
</div>
<div>
    <h4>List of Candidates</h4>
    <table class="table-sm table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Target Salary</th>
                <th>Preffered Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Company.Candidates)
            {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.DateOfBirth</td>
                <td>@customer.TargetSalary</td>
                <td>@customer.PrefferedLocation</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
