@page
@model RecruitCatSapravl.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Companies</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].PositionRecruiting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].MinimumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].MaximumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].PerformanceBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Company) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionRecruiting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry.IndustryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
